body {
  margin: 0;
  padding: 0;
}

/* Info Section */
.info-container {
  margin: auto;
  left: 50%;
  right: 50%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  margin-bottom: 25px;
  font-size: 20px;
  border-bottom: 2px solid lightgray;
}

.graphql-rest-image {
  max-width: 1000px;
}
/* Demo Section  */
button {
  background-color: linear-gradient(red, yellow); /* Green */
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: auto;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

header {
  border-bottom: 2px solid lightgray;
  margin-bottom: 20px;
  font-weight: normal;
  letter-spacing: 7.2px;
}

.demo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph {
  background: black;
  border: 1px solid gray;
  border-radius: 5px;
  height: 25vh;
  width: 20rem;
}

.dashboard {
  border: 1px solid gray;
  border-radius: 5px;
  height:25vh;
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.demo-display {
  display: flex;
  gap: 0px;
}

.query-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

/* Team Section */
.team-container {
  margin-bottom: 50px;
  margin-top: 100px;
  border-top: 2px solid gray;
  display: grid;
  justify-items: center;
}


.profile {
  width: 100% !important;
  max-width: 275px !important;
  height: 810px;
  text-align: center;
}

.profile-pic {
  height: 25%;
  border-radius: 50%;
}

.team {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  column-gap: 20px;
  top: 0;
  max-width: auto;
}

.social-logo {
  width: 50px !important;
  max-width: 100px !important;
}